body {
    margin: 0px;
    background-color: #0f0d12;

    nav {
        width: 100%;
        height: 5rem;
        padding: 1rem;
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 0;
        .nav-content {
            @media (max-width: 900px) {
                width: 100%;
                box-sizing: border-box;
            }

            width: 50rem;
            height: 100%;
            padding: 1rem;
            margin: auto;
            border: 1px solid white;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-family: "Source Code Pro", monospace;
            .title {
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 100%;
                .logo {
                    height: 50%;
                    max-width: 3rem;
                    border-right: 2px solid #ffa900;
                    padding: 0.8rem;
                    img {
                        height: 100%;
                    }
                }
            }
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    main {
        margin-top: 5rem;
        .firstPage {
            height: calc(100vh - 5rem);
            display: flex;
            flex-direction: column;

            .content {
                font-family: "Source Code Pro", monospace;
                font-size: 2rem;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;

                @media (max-width: 900px) {
                    flex-direction: column;
                }

                .content-desc {
                    max-width: 50rem;
                }

                img {
                    width: 20vw;
                    box-shadow: 0 0 0 0.2rem #ffa900;
                    border: 0.6rem solid #0f0d12;
                    border-radius: 100%;
                    transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.02);
                        transition: transform 0.2s;
                    }
                }
            }
            .bottom {
                font-family: "Source Code Pro", monospace;
                text-decoration: underline;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                img {
                    width: 6rem;
                }
            }
        }

        .projects,
        .skills {
            min-height: 6rem;
        }
    }
}

.highlight {
    color: #3aff75;
    font-weight: 900;
    font-size: 3rem;
}
